$bg_color:(
    primary:#000,
    white:#ffffff,
    blue:#87ded2,
    yellow:#dec387,
    green:#8BC34A,
    purple:#c487de,
    red:#c34a4a,
);

$txt_color:(
    primary:#000,
    white:#ffffff,
    gray:#999,
);